$dark_grey_3: #333333;
$dark_grey_4: #444444;
$light_grey_e: #eeeeee;
$light_grey_b: #bbbbbb;

@keyframes slideInBottom {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

.nfl_teams {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	max-width: 1240px !important;
	flex-wrap: wrap;
	animation: 1s ease-out 0s 1 slideInBottom;

	& label {
		text-transform: uppercase;
		font-family: "Lato Black", sans-serif;
	}

	& button.nfl_sort_button {
		background-color: transparent !important;
		border: 4px solid $light_grey_e;
		color: $light_grey_e !important;
		transition: 0.5s ease;
		width: 200px;
		font-family: "Lato Black", sans-serif;
		text-transform: uppercase;

		&:hover {
			background-color: $light_grey_e !important;
			color: $dark_grey_3 !important;
		}
	}

	& button.nfl_sorted {
		background-color: green !important;
	}

	& .nfl_card {
		width: 275px;
		height: 360px;
		cursor: pointer;
		margin: 12px 0px;

		&:hover > .nfl_card_front {
			transform: rotateY(180deg);
		}
		&:hover > .nfl_card_back {
			transform: rotateY(0deg);
		}

		& .nfl_card_front,
		.nfl_card_back {
			backface-visibility: hidden;
			position: absolute;
			transition: transform 0.5s linear;
			width: inherit;
			height: inherit;
		}

		& .nfl_card_front {
			background-color: $dark_grey_3;
			background: linear-gradient(150deg, $dark_grey_3 0%, $dark_grey_4 100%);

			& img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 24px;
				filter: drop-shadow(0px 0px 10px black);
			}

			& h3 {
				text-align: center;
				font-family: "Lato Black", sans-serif;
				font-size: 1.75rem;
				text-transform: uppercase;
				background: linear-gradient(90deg, $light_grey_e, $light_grey_b);
				background-clip: text;
				-webkit-background-clip: text;
				color: transparent;
				padding: 24px 0px;
			}
		}

		& .nfl_card_back {
			transform: rotateY(180deg);
			background-color: $light_grey_e;
			background: linear-gradient(
				150deg,
				0%,
				$light_grey_e,
				$light_grey_b 100%
			);
			color: $dark_grey_3;
			padding: 24px;
		}
	}
}

@media screen and (max-width: 480px) {
	.nfl_card {
		width: 200px;
		height: 285px;
	}
}
